:root{
    --font-theme : 'PT Sans', sans-serif;
    --theme-color : #ec7c1c;
    --theme-transparent-color : #ff79001a;
    --black-color : #000000;
    --white-color : #ffffff;
    --light-gray : #f2f2f2;
    --yellow-color : #f1b60f;
    --base-section : #ec7d1c74;
    --transparent-black : #0000000f;
    --transparent-white : #ffffff34;
    --focus-btn : #d5d5d5;
}

@media only screen and (max-width : 767px){
    .title h6{
        font-size: 1em !important;
    }
    .slider-section .carousel-item{
        height: 40ch !important;
    }
    .caption-section{
        margin-top: -10em !important;
    }
    .caption-section .text{
        font-size: 1.5ch !important;
    }
    .caption-section .searchbox {
        height: 40px !important;
        width: 100% !important;
    }
    .caption-section .searchbtn {
        width: 40px !important;
        padding: 8px !important;
        height: 40px !important;
    }
    .top-link,
    .mobile-goal-section{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .top-link .badges{
        margin-top: 1em;
    }
    .top-link .badges a{
        margin: 6px 6px;
    }
    .focus-btn:active,.focus-btn:focus{
        background: var(--focus-btn) !important;
    }
    .mobile-goal-section .accordion-item{
        border: none;
        border-bottom: 1px solid var(--light-gray);
    }
    .mobile-goal-section .accordion-item:last-child{
        border-bottom: none;
    }
    .mobile-goal-section .image{
        height: 50px;
        width: 50px;
        padding: 10px;
    }
    .mobile-goal-section .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .mobile-goal-section .text{
        margin-left: 0.8em;
        font-size: 12px;
        color: var(--black-color);
    }
    .mobile-goal-section .accordion-button::after,
    .mobile-goal-section .accordion-button::before{
        background-size: 11px;
        color: var(--black-color);
    }
    .mobile-goal-section .more-btn{
        background: var(--theme-transparent-color) !important;
        color: var(--theme-color) !important;
        outline: none !important;
        border: none;
        font-weight: 500;
    }
    .collection-section .absolute-box{
        padding: 0 0px 0 46px !important;
    }

    .cbse-section .badges a,
    .top-course-section .badges a
    {
        font-size: 12px !important;
    }
    .univercity-section #UnivercitySection .card{
        margin: 0 !important;
    }
    .univercity-section .title{
        width: 80% !important;
    }
}
